<% content_for :head do %>
   <%= stylesheet_link_tag :static_pages -%>
<% end %>

<div class="landing-page">
  <h1 class="text-center">
    Happenstance Calendar<br>
    <small>Changing the calendar game. Coming soon.</small>
  </h1>
</div>
